{% extends 'base.html.twig' %}

{% block title %}modifier Adresse{% endblock %}

{% block titreh1 %}
	<h1>Modifier mon adresse</h1>
{% endblock %}

{% block body %}

{{ form_start(formProfile) }}
	{{ form_row(formProfile.adresseNum, {
		'attr': {'class': 'main-search-input'},
		'label': 'Numéro',
		'label_attr': {'class': 'main-search-label'}}) 
	}}
	{{ form_row(formProfile.adresseRue, {
		'attr': {'class': 'main-search-input'},
		'label': 'Rue',
		'label_attr': {'class': 'main-search-label'}}) 
	}}
	{{ form_row(formProfile.localite, {
		'attr': {'class': 'main-search-input'},
		'label': 'localité',
		'label_attr': {'class': 'main-search-label'}}) 
	}}
	{{ form_row(formProfile.codePostal, {
		'attr': {'class': 'main-search-input'},
		'label': 'code postal',
		'label_attr': {'class': 'main-search-label'}}) 
	}}
	{{ form_row(formProfile.commune, {
		'attr': {'class': 'main-search-input'},
		'label': 'commune',
		'label_attr': {'class': 'main-search-label'}}) 
	}}
	{{ form_row(formProfile.modifier, {
		'attr': {'class': 'main-search-button'}
	}) }}

{{form_end(formProfile)}}

        <a href="{{path ("profil_user", {id: app.user.internautes.id})}}">Retour page profil</a><br>
{% endblock %}