{% extends 'base.html.twig' %}

{% block title %}Editer profil{% endblock %}

{% block titreh1 %}
	<h1>Modifier mon profil</h1>
{% endblock %}

{% block body %}

<h1>Informations de base</h1>

{{ form_start(formProfile) }}
	{{ form_row(formProfile.email, {
		'attr': {'class': 'main-search-input'},
		'label': 'Email',
		'label_attr': {'class': 'main-search-label'}}) 
	}}
	{{ form_row(formProfile.adresseNum, {
		'attr': {'class': 'main-search-input'},
		'label': 'Numéro',
		'label_attr': {'class': 'main-search-label'}}) 
	}}
	{{ form_row(formProfile.adresseRue, {
		'attr': {'class': 'main-search-input'},
		'label': 'Rue',
		'label_attr': {'class': 'main-search-label'}}) 
	}}
	{{ form_row(formProfile.localite, {
		'attr': {'class': 'main-search-input'},
		'label': 'localité',
		'label_attr': {'class': 'main-search-label'}}) 
	}}
	{{ form_row(formProfile.codePostal, {
		'attr': {'class': 'main-search-input'},
		'label': 'code postal',
		'label_attr': {'class': 'main-search-label'}}) 
	}}
	{{ form_row(formProfile.commune, {
		'attr': {'class': 'main-search-input'},
		'label': 'commune',
		'label_attr': {'class': 'main-search-label'}}) 
	}}
	{{ form_row(formProfile.modifier, {
		'attr': {'class': 'main-search-button'}
	}) }}

{{form_end(formProfile)}}

 <h3>id internaute:{{app.user.internautes.id }}</h3><br>

{% endblock %}