{% extends 'base.html.twig' %}

{% block title %}{{app.user.nomComplet}}{% endblock %}

{% block titreh1 %}
	<h1>Mon profil</h1>
{% endblock %}

{% block body %}
{% if app.user.internautes.prenom is defined and app.user.internautes.nom is defined %}
    <h1>{{app.user.internautes.prenom}} {{app.user.internautes.nom}}<br></h1>
{% endif %}

<div>
    <p>Email: {{app.user.email}}</p>
    <div>
        {% if app.user.adresseRue != null and app.user.adresseNum != null %}
            {{app.user.adresseRue}}, {{app.user.adresseNum}}</p>
        {% endif %}
        {% if app.user.localite != null and app.user.commune != null and app.user.codePostal != null %}
            <p>{{app.user.commune}}, {{app.user.codePostal}}</p>
            <p>{{app.user.localite}}</p>
        {% endif %}
    </div>
    <p>Membre depuis le {{app.user.dateInscription|date('d/m/Y')}}</p>
    <br>
    {% if app.user.internautes.newsLetter is defined and app.user.internautes.newsLetter == 1 %}
           Je suis inscrit à la newsLetter
           {% else %}
           Je ne suis pas encore inscrit à la newsLetter
    {% endif %}
    <br>
    <a href="{{path('edit_profile', {id: app.user.id} )}}">Modifier mes informations</a><br>
    {% if app.user.internautes.image is defined %}
        <img class="" src="{{ asset('images/avatars/' ~ app.user.internautes.image) }}" alt="photo profil internaute"/>
    {% endif %}

{% endblock %}