{% extends 'base.html.twig' %}

{% block title %}
  Bien-être
{% endblock %}

{% block titreh1 %}
    Bien-être
{% endblock %}


{% block searchForm %}
  
					<div class="main-search-bar-wrap">
  
								{{ form_start(form) }}
								
									{{ form_row(form.prestataire, {
										'attr': {'class': 'main-search-input'},
										'label': 'Nom du prestataire',
										'label_attr': {'class': 'main-search-label'}}) 
									}}

									{{ form_row(form.categorie, {
										'attr': {'class': 'main-search-input'},
										'label': 'Catégorie',
										'label_attr': {'class': 'main-search-label'}}) 
									}}

									{{ form_row(form.localite, {
										'attr': {'class': 'main-search-input'},
										'label': 'Localité',
										'label_attr': {'class': 'main-search-label'}}) 
									}}

                  {{ form_row(form.commune, {
										'attr': {'class': 'main-search-input'},
										'label': 'Commune',
										'label_attr': {'class': 'main-search-label'}}) 
										}}

									{{ form_row(form.cp, {
										'attr': {'class': 'main-search-input'},
										'label': 'Code Postal',
										'label_attr': {'class': 'main-search-label'}}) 
										}}


									{{ form_row(form.recherche, {
										'attr': {'class': 'main-search-button'}
									}) }}

								{{ form_end(form) }}
          </div>
{% endblock %}

{% block body %}

  <div class="carousel">
    {# Images gérées par l'admin #}
    <ul class="slides">
      <input type="radio" name="radio-buttons" id="img-1" checked />
      <li class="slide-container">
        <div class="slide-image">
          <img src="{{ asset('images/wellness/wellness1.jpeg') }}" />
        </div>
        <div class="carousel-controls">
          <label for="img-3" class="prev-slide"><span>&lsaquo;</span></label>
          <label for="img-2" class="next-slide"><span>&rsaquo;</span></label>
        </div>
      </li>
      <input type="radio" name="radio-buttons" id="img-2" />
      <li class="slide-container">
        <div class="slide-image">
          <img src="{{ asset('images/wellness/wellness2.jpeg') }}" />
        </div>
        <div class="carousel-controls">
          <label for="img-1" class="prev-slide"><span>&lsaquo;</span></label>
          <label for="img-3" class="next-slide"><span>&rsaquo;</span></label>
        </div>
      </li>
      <input type="radio" name="radio-buttons" id="img-3" />
      <li class="slide-container">
        <div class="slide-image">
          <img src="{{ asset('images/wellness/wellness3.jpeg') }}" />
        </div>
        <div class="carousel-controls">
          <label for="img-2" class="prev-slide"><span>&lsaquo;</span></label>
          <label for="img-1" class="next-slide"><span>&rsaquo;</span></label>
        </div>
      </li>
      <div class="carousel-dots">
        <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
        <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
        <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
      </div>
    </ul>
  </div>
  <div class="parallax-container">
    <article class="last-4-registrated">
      <h2>
        Nos nouveaux prestataires
      </h2>
      <div class="last-4-registrated-wrap">
      {% if lastPrestataires %}
          {% for p in lastPrestataires %}
            <div class="card">
              <div class="face face--front">
              <img src="{{asset ('images/avatars/' ~ p.images[0] )}}" alt="photo prestataire">
              </div>
              <a class="face face--back" href="{{path('detailPartenaire',{id : p.id})}}">{{p.nom }}</a>
            </div>
          {% endfor %}
        {% else %}
            <p>Il n'y a pas encore de presataire inscrit sur le site</p>
      {% endif %}
      </div>
    
    </article>
  </div>

  <div class="parallax-separtator">
    <div class="separator-quote">
      <p>
        "Le bonheur de toute société commence avec le bien-être des familles qui
        y vivent"
      </p>
      <p>
        - Kofi Annan -
      </p>
    </div>
  </div>

  <div class="parallax-container second">
    <article class="highlight-service-wrap">
      <h2>
        Le service du mois
      </h2>
      {% if highlightService %}
          <a href="{{path('detailService',{id : highlightService.id})}}">
            <div class="highlight-service-card">
              <img src="{{asset ('images/services/' ~ highlightService.image )}}"
                alt="photo service à la une" />
              <div class="highlight-service-card-title">
                <h4>
                  {{highlightService.nom}}
                </h4>
              </div>
            </div>
          </a>
        {% else %}
            <div class="highlight-service-card">
              <div class="highlight-service-card-title">
                <h1>
                  Il n'y a pas de service mis en avant pour le moment
                </h1>
              </div>
            </div>
      {% endif %}
    </article>
  </div>
{% endblock %}
