{% extends 'base.html.twig' %}

{% block title %}
  Bien-être
{% endblock %}

{% block titreh1 %}
  Bien-être
{% endblock %}

{% block searchForm %}
  <div class="main-search-bar-wrap">
    <form name="prestataire_search" method="get" action="{{ path('home') }}">
      <div>
        <label class="main-search-label">Nom du prestataire</label>
        <input class="main-search-input" type="text" name="nom" />
      </div>
      <div>
        <label class="main-search-label">Catégorie de service</label>
        <input class="main-search-input" type="text" name="categorie" />
      </div>
      <div>
        <label class="main-search-label">Localité</label>
        <select class="main-search-input"
          type="select"
          name="localite"
          id="prestataire_search_localite">
          <option value="">
            - Selection -
          </option>
          <option value="région Bruxelles capitale">
            région Bruxelles capitale
          </option>
          <option value="province de liège">
            province de Liège
          </option>
          <option value="province du hainaut">
            province du hainaut
          </option>
          <option value="province du brabant wallon">
            province du brabant wallon
          </option>
          <option value="province d'anvers">
            province d'anvers
          </option>
          <option value="province de flandre occidentale">
            province de flandre occidentale
          </option>
          <option value="province de flandre orientale">
            province de flandre orientale
          </option>
          <option value="province du brabant flamand">
            province du brabant flamand
          </option>
          <option value="province du brabant flamand (Louvain)">
            province du brabant flamand (Louvain)
          </option>
          <option value="province du luxembourg">
            province du luxembourg
          </option>
          <option value="province du limbourg">
            province du limbourg
          </option>
          <option value="province de namur">
            province de namur
          </option>
        </select>
      </div>
      <div>
        <label class="main-search-label">Commune</label>
        <select class="main-search-input"
          type="text"
          name="commune"
          id="prestataire_search_commune">
          <option value="">
            - Selection -
          </option>
        </select>
      </div>
      <div>
        <label class="main-search-label">Code postal</label>
        <select class="main-search-input"
          type="text"
          name="codePostal"
          id="prestataire_search_cp">
          <option value="">
            - Selection -
          </option>
        </select>
      </div>
      <div>
        <button class="main-search-button" type="submit" name="submit">
          Rechercher
        </button>
      </div>
    </form>
  </div>
{% endblock %}

{% block body %}
  <div class="carousel">
    {% if is_granted('ROLE_ADMIN') %}
      <a class="admin-link-carrousel" href="#">Modifier les photos</a>
    {% endif %}
    {# Images gérées par l'admin #}
    <ul class="slides">
      <input type="radio" name="radio-buttons" id="img-1" checked />
      <li class="slide-container">
        <div class="slide-image">
          <img src="{{ asset('images/wellness/wellness1.jpeg') }}" />
        </div>
        <div class="carousel-controls">
          <label for="img-3" class="prev-slide"><span>&lsaquo;</span></label>
          <label for="img-2" class="next-slide"><span>&rsaquo;</span></label>
        </div>
      </li>
      <input type="radio" name="radio-buttons" id="img-2" />
      <li class="slide-container">
        <div class="slide-image">
          <img src="{{ asset('images/wellness/wellness2.jpeg') }}" />
        </div>
        <div class="carousel-controls">
          <label for="img-1" class="prev-slide"><span>&lsaquo;</span></label>
          <label for="img-3" class="next-slide"><span>&rsaquo;</span></label>
        </div>
      </li>
      <input type="radio" name="radio-buttons" id="img-3" />
      <li class="slide-container">
        <div class="slide-image">
          <img src="{{ asset('images/wellness/wellness3.jpeg') }}" />
        </div>
        <div class="carousel-controls">
          <label for="img-2" class="prev-slide"><span>&lsaquo;</span></label>
          <label for="img-1" class="next-slide"><span>&rsaquo;</span></label>
        </div>
      </li>
      <div class="carousel-dots">
        <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
        <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
        <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
      </div>
    </ul>
  </div>
  <div class="parallax-container">
    <article class="last-4-registrated">
      <h2>
        Les derniers prestataires incrits
      </h2>
      <div class="last-4-registrated-wrap">
        {% if lastPrestataires %}
          {% for p in lastPrestataires %}
            <div class="card">
              <div class="face face--front">
                {% if p.images[0] is defined and p.images[0] != '' %}
                  <img src="{{ asset('images/uploads/' ~ p.images[0]) }}"
                    alt="photo de profil du prestataire" />
                {% else %}
                  <img src="{{ asset('images/avatars/blank_profile.webp') }}"
                    alt="photo de profil du prestataire" />
                {% endif %}
              </div>
              <a class="face face--back"
                href="{{
                path(
                  'detailPartenaire',
                  {
                    id: p.id
                  }
                )
                }}">
                {{ p.nom }}
              </a>
            </div>
          {% endfor %}
        {% else %}
          <p>
            Il n'y a pas encore de presataire inscrit sur le site
          </p>
        {% endif %}
      </div>
    </article>
  </div>

  <div class="parallax-separtator">
    <div class="separator-quote">
      <p>
        "Le bonheur de toute société commence avec le bien-être des familles qui
        y vivent"
      </p>
      <p>
        - Kofi Annan -
      </p>
    </div>
  </div>

  <div class="parallax-container second">
    <article class="highlight-service-wrap">
      <h2>
        Le service à la une
      </h2>
      {% if highlightService %}
        <a href="{{
          path(
            'detailService',
            {
              id: highlightService.id
            }
          )
          }}">
          <div class="highlight-service-card">
            {% if highlightService.image %}
              <img src="{{ asset('images/uploads/' ~ highlightService.image) }}"
                alt="photo service à la une" />
            {% else %}
              <img src="{{ asset('images/blank_image.jpg') }}"
                alt="photo service à la une" />
            {% endif %}

            <div class="highlight-service-card-title">
              <h4>
                {{ highlightService.nom }}
              </h4>
            </div>
          </div>
        </a>
      {% else %}
        <div class="highlight-service-card">
          <div class="highlight-service-card-title">
            <h1>
              Il n'y a pas de service mis en avant pour le moment
            </h1>
          </div>
        </div>
      {% endif %}
    </article>
  </div>
{% endblock %}
