{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block titreh1 %}
   Inscription
{% endblock %}

{% block searchForm %}
	{% embed "_searchFormToggle.html.twig" %}{% endembed %}
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
        <div class="form-register">
            <div class="form-register-input">
                {{ form_label(registrationForm.nom) }}
                {{ form_widget(registrationForm.nom) }}
            </div>
            <div class="form-register-input">
                {{ form_label(registrationForm.prenom) }}
                {{ form_widget(registrationForm.prenom) }}
            </div>
            <div class="form-register-input">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email) }}
            </div>
            <div class="form-register-input">            
                {{ form_label(registrationForm.adresseRue) }}
                {{ form_widget(registrationForm.adresseRue) }}
            </div>
            <div class="form-register-input">
                {{ form_label(registrationForm.adresseNum) }}
                {{ form_widget(registrationForm.adresseNum) }}
            </div>
            <div class="form-register-input">
                {{ form_label(registrationForm.localite) }}
                {{ form_widget(registrationForm.localite) }}
            </div >
            <div class="form-register-input">
                {{ form_label(registrationForm.commune) }}
                {{ form_widget(registrationForm.commune) }}
            </div>
            <div class="form-register-input">
                {{ form_label(registrationForm.codePostal) }}
                {{ form_widget(registrationForm.codePostal) }}
            </div>
            <div class="register-form-input-password">
                <p>Votre mot de passe doit contenir au minimum une majuscule, 7 caractères, un chiffre et un symbole</p>
                {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
                }) }}
            </div>
            <div class="form-register-input">
                {{ form_label(registrationForm.agreeTerms) }}
                <div class="checkbox-wrapper-2">
                    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'sc-gJwTLC ikxBAC', 'name': '_remember_me' }}) }}
                </div>
            </div>
            {{ form_errors(registrationForm) }}

            <button class="register-form-submit" type="submit" class="btn">S'inscrire</button>
        </div>
    {{ form_end(registrationForm) }}
    <div class="registration-form-conditions">
        <p>En cliquant sur "s'inscrire" j'accepte les conditions d'utilisation et la politique de confidencialité du site</p>
        <a href="">Voir les conditions d'utilisation du site</a>
    </div>

{% endblock %}

