{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block titreh1 %}
   Inscription
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nomComplet) }}
        <div>
            <p>Adresse:</p>
            {{ form_row(registrationForm.adresseRue) }}
            {{ form_row(registrationForm.adresseNum) }}
        </div>
        <div>
            <p>Informations de connection</p>
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
            }) }}
        </div>
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
    <p>En cliquant sur "s'inscrire" j'accepte les conditions d'utilisation et la politique de confidencialité du site</p>
    <a href="">Voir les conditions d'utilisation du site</a>
{% endblock %}

