{% extends 'base.html.twig' %}

{% block title %}
Service {{service.nom}}
{% endblock %}

{% block titreh1 %}
	<h1>{{service.nom}}</h1>
{% endblock %}

{% block nav %}
	<div class="l-main-header-wrap">
		<div class="hamburger-icon" id="icon">
			<div class="icon-1" id="a"></div>
			<div class="icon-2" id="b"></div>
			<div class="icon-3" id="c"></div>
			<div class="clear"></div>
		</div>
		<div class="wrap-menu">
			<nav class="l-main-nav" id="nav">
				<ul>
					<li><a id="home"href="{{path('home')}}"><i class="fa-solid fa-house"></i>&nbsp;Accueil</a></li>
					<li><a id="partenaires"href="{{path ("listePartenaires")}}"><i class="fa-solid fa-handshake-simple"></i>&nbsp;Partenaires</a></li>
					<li><a id="services"href="{{path ("listeServices")}}"><i class="fa-solid fa-bell-concierge"></i>&nbsp;Services</a></li>
					<li><a id="services"href="{{path ("listeStages")}}"><i class="fa-solid fa-person-chalkboard"></i>&nbsp;Stages</a></li>
					<li><a href="#"><i class="fa-solid fa-user"></i>&nbsp;Se Connecter</a></li>
				</ul>
			</nav>
			<div class="dark-pink" id="pink"></div>

			<button id="search-button-toggle"><i class="fa fa-search"></i></button>
			<div class="search-bar-wrap" id="search-bar-wrap">
				<input type="text" class="main-search-input" placeholder="Prestataire">
				<input type="text" class="main-search-input" placeholder="Catégorie de Service">
				<input type="text" class="main-search-input" placeholder="Commune">
				<input type="text" class="main-search-input" placeholder="Localité">
				<input type="text" class="main-search-input" placeholder="Code Postal">
				<button type="submit" class="main-search-button">
					<i class="fa fa-search"></i>&nbsp;Rechercher
				</button>
			</div>
		</div>
	</div>
	<div class='l-main-logo'>
		<a href="{{path ('home')}}"><img src="{{asset ('images/logo.png')}}" alt="image-logo"></a>
	</div>
</div>
</div>
{% endblock %}

{% block body %}
	<article>
		<div class="presataire-detail-wrap">

	{% for l in lastPrestataires %}
		<h1>Prestataire trouvé: {{l.nom}}<h1>
	{% endfor %}		



			<h2>Service {{service.nom}}</h2>
			<p>{{service.description}}</p>
		</div>
		{# {% for prestataire in lastPrestataires %}
			{{prestataire.nom }}
		{% endfor %} #}
		<div class="prestaire-last-registrated-wrap">
			<h3>Dans la meme catégorie de service: (4 derniers presatataires inscrits)</h3>

			{# Afficher les 4 derniers prestataires  #}
			{# {% for prestataire in lastPrestataires %}
				{{prestataire.nom}}
			{% endfor %} #}

			<div class="prestaire-last-registrated-cards-wrap">
				<div class="prestaire-last-registrated">
					<a class="" href="">
					<h3>Nom prestataire</h3>
					<img src="{{asset ('images/service-kine.jpg')}}" alt="photo service"></a>
				</div>
				<div class="prestaire-last-registrated">
					<a class="" href="">
					<h3>Nom prestataire</h3>
					<img src="{{asset ('images/service-kine.jpg')}}" alt="photo service"></a>
				</div>
				<div class="prestaire-last-registrated">
					<a class="" href="">
					<h3>Nom prestataire</h3>
					<img src="{{asset ('images/service-kine.jpg')}}" alt="photo service"></a>
					</div>
				<div class="prestaire-last-registrated">
				<a class="" href="">
				<h3>Nom prestataire</h3>
				<img src="{{asset ('images/service-kine.jpg')}}" alt="photo service">
			</a></div>
			</div>
		</div>
	</article>

{% endblock %}
