{% extends 'base.html.twig' %}

{% block title %}
{{service.nom}}
{% endblock %}

{% block titreh1 %}
	<h1>{{service.nom}}</h1>
{% endblock %}

{% block searchForm %}
	{% embed "_searchFormToggle.html.twig" %}{% endembed %}
{% endblock %}

{% block body %}
	<article>
		<div class="presataire-detail-wrap">
			<h2>Service {{service.nom}}</h2>
			<p>{{service.description}}</p>
		</div>


		{% if lastPrestataires %}
			<div class="prestaire-last-registrated-wrap">
				<h3>Dans la meme catégorie de service:</h3>
			
				{% for prest in lastPrestataires %}
					<div class="prestaire-last-registrated-cards-wrap">
						<a class="" href="{{path('detailPartenaire',{id : prest.id})}}">
							<h3>{{prest.nom}}</h3>
							<img src="{{asset ('images/service-kine.jpg')}}" alt="photo service">
						</a>
					</div>
				{% endfor %}
			</div>
		{% endif %}

	</article>

{% endblock %}
