{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block titreh1 %}
	<h1>Fiche service</h1>
{% endblock %}

				{% block nav %}
					<div class="l-main-header-wrap">
						<div class="hamburger-icon" id="icon">
							<div class="icon-1" id="a"></div>
							<div class="icon-2" id="b"></div>
							<div class="icon-3" id="c"></div>
							<div class="clear"></div>
						</div>
						<div class="wrap-menu">
							<nav class="l-main-nav" id="nav">
								<ul>
									<li><a id="home"href="{{path('home')}}"><i class="fa-solid fa-house"></i>&nbsp</a></li>
									<li><a id="partenaires"href="{{path ("listePartenaires")}}">partenaires</a></li>
									<li><a id="services"href="{{path ("listeServices")}}">services</a></li>
									<li><a id="services"href="{{path ("listeStages")}}">stages</a></li>
									<li><a href="#">à propos</a></li>
									<li><a href="#">contact</a></li>
									<li><a href="#"><i class="fa-solid fa-user"></i>&nbsp</a></li>
								</ul>
							</nav>
							<div class="dark-pink" id="pink"></div>

							<button id="search-button-toggle"><i class="fa fa-search"></i></button>
							<div class="search-bar-wrap" id="search-bar-wrap">
								<input type="text" class="main-search-input" placeholder="Prestataire">
								<input type="text" class="main-search-input" placeholder="Catégorie de Service">
								<input type="text" class="main-search-input" placeholder="Commune">
								<input type="text" class="main-search-input" placeholder="Localité">
								<input type="text" class="main-search-input" placeholder="Code Postal">
								<button type="submit" class="main-search-button">
									<i class="fa fa-search"></i>&nbsp;Rechercher
								</button>
							</div>
						</div>
					</div>
					<div class='l-main-logo'>
						<a href="{{path ('home')}}"><img src="{{asset ('images/logo.png')}}" alt="image-logo"></a>
					</div>
				</div>
			</div>
		{% endblock %}

{% block body %}
	<article>
		<h2>{{service.nom}}</h2>
		<p>{{service.description}}</p>

	</article>

{% endblock %}
