{% extends 'base.html.twig' %}

{% block title %}Services
{% endblock %}
{% block titreh1 %}
	<h1>Services proposés</h1>
{% endblock %}

				{% block nav %}
					<div class="l-main-header-wrap">
						<div class="hamburger-icon" id="icon">
							<div class="icon-1" id="a"></div>
							<div class="icon-2" id="b"></div>
							<div class="icon-3" id="c"></div>
							<div class="clear"></div>
						</div>
						<div class="wrap-menu">
							<nav class="l-main-nav" id="nav">
								<ul>
									<li><a id="home"href="{{path('home')}}"><i class="fa-solid fa-house"></i>&nbsp;Accueil</a></li>
									<li><a id="partenaires"href="{{path ("listePartenaires")}}"><i class="fa-solid fa-handshake-simple"></i>&nbsp;Partenaires</a></li>
									<li><a id="services"href="{{path ("listeServices")}}"><i class="fa-solid fa-bell-concierge"></i>&nbsp;Services</a></li>
									<li><a id="services"href="{{path ("listeStages")}}"><i class="fa-solid fa-person-chalkboard"></i>&nbsp;Stages</a></li>
									<li><a href="#"><i class="fa-solid fa-user"></i>&nbsp;Se Connecter</a></li>
								</ul>
							</nav>
							<div class="dark-pink" id="pink"></div>

						  {# Bouton affichage/masquage du formulaire  #}
							<button id="search-button-toggle"><i class="fa fa-search"></i></button>

							<div class="search-bar-wrap" id="search-bar-wrap">
								{{ form_start(form) }}
								
									{{ form_row(form.prestataire, {
										'attr': {'class': 'main-search-input'},
										'label': 'Prestataire', 
										'label_attr': {'class': 'main-search-label'}}) 
									}}

									{{ form_row(form.categorie, {
										'attr': {'class': 'main-search-input'},
										'label': 'Catégorie',
										'label_attr': {'class': 'main-search-label'}}) 
									}}

									{{ form_row(form.localite, {
										'attr': {'class': 'main-search-input'},
										'label': 'Localité',
										'label_attr': {'class': 'main-search-label'}}) 
									}}

									{{ form_row(form.cp, {
										'attr': {'class': 'main-search-input'},
										'label': 'Code Postal',
										'label_attr': {'class': 'main-search-label'}}) 
										}}

									{{ form_row(form.commune, {
										'attr': {'class': 'main-search-input'},
										'label': 'Commune',
										'label_attr': {'class': 'main-search-label'}}) 
										}}

									{{ form_row(form.recherche, {
										'attr': {'class': 'main-search-button'}
									}) }}

								{{ form_end(form) }}
							</div>
						
						</div>
					</div>
					<div class='l-main-logo'>
						<a href="{{path ('home')}}"><img src="{{asset ('images/logo.png')}}" alt="image-logo"></a>
					</div>
				</div>
			</div>
		{% endblock %}
		
{% block body %}
	<div class="service-list-wrap">
		{% for categorie in categories %}
			<a class="service-card" href="{{path('detailService',{id : categorie.id})}}">
				<h3>{{categorie.nom}}</h3>
				<img src="{{asset ('images/service-kine.jpg')}}" alt="photo service">
			</a>
		{% endfor %}
	</div>
{% endblock %}
