{% extends 'base.html.twig' %}

{% block title %}Services
{% endblock %}
{% block titreh1 %}
	Services proposés
{% endblock %}

{% block searchForm %}
	{% embed "_searchFormToggle.html.twig" %}{% endembed %}
{% endblock %}
			

{% block body %}
	<div class="service-list-count">
    	{{ pagination.getTotalItemCount }} service(s) trouvé(s)
	</div>
	<div class="service-list-wrap">
		{% for categorie in pagination %}
			{% if categorie.valide == 1 %}
				<a class="service-card" href="{{path('detailService',{id : categorie.id})}}">
					<h3>{{categorie.nom}}</h3>
					{% if categorie.image %}
						<img src="{{ asset('images/uploads/' ~ categorie.image) }}" alt="photo service">
					{% else %}
						<img src="{{asset ('images/blank_image.jpg' )}}" alt="photo service">
					{% endif %}
				</a>
			{% endif %}
		{% endfor %}
	</div>
	{# display navigation #}
	<div class='l-main-pagination'>
		<div class="navigation">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>
{% endblock %}
