{% extends 'base.html.twig' %}

{% block title %}Prestataire{% endblock %}

{% block body %}
    <h1>Prestataire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prestataire.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ prestataire.nom }}</td>
            </tr>
            <tr>
                <th>SiteWeb</th>
                <td>{{ prestataire.siteWeb }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ prestataire.tel }}</td>
            </tr>
            <tr>
                <th>TvaNum</th>
                <td>{{ prestataire.tvaNum }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_prestataire_index') }}">back to list</a>

    <a href="{{ path('app_prestataire_edit', {'id': prestataire.id}) }}">edit</a>

    {{ include('prestataire/_delete_form.html.twig') }}
{% endblock %}
