{% extends 'base.html.twig' %}

{% block title %}
	{{partenaire.nom}}
{% endblock %}

{% block titreh1 %}
    {{partenaire.nom}}
{% endblock %}

{% block searchForm %}
	{% embed "_searchFormToggle.html.twig" %}{% endembed %}
{% endblock %}

{% block body %}
  <article>
  {% if partenaire.proposer is not empty %}
    <h3>Mes catégories de service</h3>
    <div class="prestataire-detail-services-list">
      <ul>
        {% for service in partenaire.proposer %}
        <li><a href="{{path('detailService',{id : service.id} )}}">
        {{ service.nom}}
        </a>
        {% endfor %}
      </ul>
    </div>
  {% else %}
      <div class="prestataire-detail-services-list">
        <h3>Je n'ai pas encore de catégorie de service</h3>
      </div>
  {% endif %}

    {% if partenaire.stage is not empty %}
    <h3>Les stages que je propose</h3>
        {% for st in partenaire.stage %}
         <a href="{{path('detailStage',{id : st.id} )}}">{{st.nom}}</a>
        {% endfor %}
    {% else %}
      <h3>Je ne propose pas encore de stage</h3>
    {% endif %}

    <div class="prestataire-detail-contact">
      <p>
        Mon site web:
        <a href="#">{{ partenaire.siteWeb }}</a>
      </p>
      <p>
        Tél:
        {{ partenaire.tel }}
      </p>
      <p>
        N° TVA:
        {{ partenaire.tvaNum }}
      </p>
    </div>
    <div>
    {% for part in partenaire.images %}
    <img class="prestaire_img" src="{{ asset('images/avatars/' ~ part.image) }}" alt="photo du prestataire"/>
    {% endfor %}
    </div>
    <p>Pour me trouver: </p>
    <p>{{ partenaire.utilisateur.adresseRue }} {{ partenaire.utilisateur.adresseNum }}</p>
    <p>{{ partenaire.utilisateur.codePostal }} {{ partenaire.utilisateur.commune }}</p>
    <div id="map"></div>
  </article>
{% endblock %}
