{% extends 'base.html.twig' %}

{% block title %}
	{{partenaire.nom}}
{% endblock %}

{% block titreh1 %}
    {{partenaire.nom}}
{% endblock %}

{% block searchForm %}
	{% embed "_searchFormToggle.html.twig" %}{% endembed %}
{% endblock %}

{% block body %}
  <article>
    <div class="partenaire-avatar">
      {% if partenaire.images[0] is defined and partenaire.images[0] != '' %}
        <img class="prestaire_img" src="{{ asset('images/uploads/' ~ partenaire.images[0]) }}" alt="photo de profil du prestataire"/>
      {% else %}
        <img class="prestaire_img" src="{{ asset('images/avatars/blank_profile.webp') }}" alt="photo de profil du prestataire"/>
      {% endif %}
    </div>

    {% if is_granted("ROLE_USER") %}
        {% for pr in partenaire.promotion %}
         {%  if pr.affichageDe|date("d/m/Y") <= "now"|date("d/m/Y") and pr.affichageJusque|date("d/m/Y") >= "now"|date("d/m/Y") %}
          <div>
           <p><span>Promotion!</span> Dans la catégorie "{{pr.categorieService}}", du: {{pr.debut|date("d/m/Y") }} au: {{pr.fin|date("d/m/Y")}}</p>
            <p>{{ pr.nom }}</p>
            {{ pr.description }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if partenaire.proposer is not empty %}
    <div class="prestataire-detail-services">
      <h3 class="prestataire-detail-services-list-title">Mes catégories de service</h3>
      <div class="prestataire-detail-services-list">
        <ul>
          {% for service in partenaire.proposer %}
          <li><a href="{{path('detailService',{id : service.id} )}}">
          {{ service.nom}}
          </a>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% else %}
      <div class="prestataire-detail-services-list">
        <h3 class="prestataire-detail-no-service">Je ne propose pas encore de catégorie de service</h3>
      </div>
    {% endif %}
    {% if partenaire.stage is not empty %}
    <div class="prestataire-detail-stage">
      <h3 class="prestataire-detail-stage-list-title">Les stages que je propose actuellement</h3>
      <div class="prestataire-detail-stage-list">
        <ul>
            {% for st in partenaire.stage %}
              {# test si le stage est dans sa periode d'affichage. Si oui -> Affichage #}
              {% if st.affichageDe|date("d/m/Y") <= "now"|date("d/m/Y") and st.affichageJusque|date("d/m/Y") >= "now"|date("d/m/Y") %}
                <li>
                  <a href="{{path('detailStage',{id : st.id} )}}">{{st.nom}}</a>
                </li>
              {% endif %}
            {% endfor %}
        </ul>
      </div>
    </div>
    {% else %}
      <h3 class="prestataire-detail-no-stage">Je ne propose pas de stage pour le moment</h3>
   {% endif %}

    {# Carrousel photos prestataire #}
    <div class="gallery">
        {% for img in partenaire.images %}
        {# test pour ne pas afficher la photo de profil ici #}
          {% if img != partenaire.images[0] %}
            <img class="prestaire_img" src="{{ asset('images/avatars/' ~ img) }}" alt="photo du prestataire"/>
          {% endif %}
        {% endfor %}
        <img src="https://images.pexels.com/photos/13921689/pexels-photo-13921689.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        <img src="https://images.pexels.com/photos/14577737/pexels-photo-14577737.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        <img src="https://images.pexels.com/photos/14686959/pexels-photo-14686959.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        <img src="https://images.pexels.com/photos/12620000/pexels-photo-12620000.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
    </div>

    <div class="prestataire-detail-contact">
      <h3 class="prestataire-detail-contact-title">Mes informations</h3>
      <ul>
      <li>
        <div class="mailto-prest">
          <a href="mailto:{{ partenaire.utilisateur}}">Me contacter par Email</a>
        </div>
      </li>
      <li>
          <span>Mon site web: </span><a href="#">{{ partenaire.siteWeb }}</a>
        </li>
        <li>
          <span>Tél: </span>{{ partenaire.tel }}
        </li>
        <li>
          <span>N° TVA: </span>{{ partenaire.tvaNum }}
        </li>
      </ul>
    </div>

    <div class="prestataire-detail-adress">
      <h3 class="prestataire-detail-adress-title">Où me trouver: </h3>
      {% if partenaire.utilisateur.adresseRue is defined and  partenaire.utilisateur.adresseNum is defined and partenaire.utilisateur.codePostal is defined and partenaire.utilisateur.commune is defined%}
        <p>{{ partenaire.utilisateur.adresseRue }} {{ partenaire.utilisateur.adresseNum }}</p>
        <p>{{ partenaire.utilisateur.codePostal }} {{ partenaire.utilisateur.commune }}</p>
        <div id="map"></div>
      {% else %}
       <p class="prestataire-detail-no-adress">Oops, je n'ai pas encore renseigné mon adresse</p>
      {% endif %}
    </div>
    
    {% if is_granted('ROLE_USER') and not is_granted('ROLE_PREST') %}
    <div class="prestataire-detail-add-comment-form">
      <h3 class="prestataire-detail-add-comment-form-title">Ajouter un commentaire</h3>
      {{ form_start(form) }}
      <div class="prestataire-detail-add-comment-form-row">
        {{ form_label(form.titre) }}
        {{ form_widget(form.titre) }}
      </div>
      <div class="prestataire-detail-add-comment-form-row">
        {{ form_label(form.contenu) }}
        {{ form_widget(form.contenu) }}
      </div>
      <div class="prestataire-detail-add-comment-form-submit">
        {{ form_widget(form.commenter) }}
      </div>
      {{ form_end(form) }}
    </div>
    {% endif %}

    <div class="prestataire-detail-comments-zone">
       <h3 class="prestataire-detail-comments-title">Commentaires</h3>
      {% for com in partenaire.commentaires %}
        <div class="prestataire-detail-comments">
          <h4>{{com.titre}}</h4>
          <p class="prestataire-detail-comments-content">{{com.contenu}}</p>
          <div class="prestataire-detail-comments-date-author">
            <p>Le {{com.dateEncodage| date('d/m/Y')}}</p>
            <p> par: {{com.internaute }}</p>
          </div>
        </div>
        <div class="prestataire-detail-comments-separator"></div>
      {% endfor %}
    </div>
  </article>
  
{% endblock %}
