{% extends 'base.html.twig' %}

{% block title %}
	{{partenaire.nom}}
{% endblock %}

{% block titreh1 %}
    {{partenaire.nom}}
{% endblock %}

{% block searchForm %}
	{% embed "_searchFormToggle.html.twig" %}{% endembed %}
{% endblock %}

{% block body %}
  <article>
	<h3>Les servicesque je propose</h3>
    <div class="prestataire-detail-services-list">
      <ul>
        {% for service in partenaire.proposer %}
        <li><a href="{{path('detailService',{id : service.id} )}}"></li><a href="{{path('detailService',{id : service.id} )}}">
        {{ service.nom}}
        </a>
        {% endfor %}
      </ul>
    </div>
    <div class="prestataire-detail-contact">
      <p>
        Mon site web:
        <a href="{{ partenaire.siteWeb }}">{{ partenaire.siteWeb }}</a>
      </p>
      <p>
        Tél:
        {{ partenaire.tel }}
      </p>
      <p>
        N° TVA:
        {{ partenaire.tvaNum }}
      </p>
    </div>
  </article>
{% endblock %}
