{% extends 'base.html.twig' %}

{% block title %}
	{{partenaire.nom}}
{% endblock %}

{% block titreh1 %}
    {{partenaire.nom}}
{% endblock %}

{% block searchForm %}
	{% embed "_searchFormToggle.html.twig" %}{% endembed %}
{% endblock %}

{% block body %}
  <article>
    <h3>
      {{ partenaire.nom }}
    </h3>
	<p>
      Service(s) proposé(s):
	  <ul>
		{% for service in partenaire.proposer %}
		<li><a href="{{path('detailService',{id : service.id} )}}"></li><a href="{{path('detailService',{id : service.id} )}}">
		{{ service.nom}}
		</a>
		{% endfor %}
	  </ul>
    </p>
    <p>
      Site web:
      {{ partenaire.siteWeb }}
    </p>
    <p>
      Tel:
      {{ partenaire.tel }}
    </p>
    <p>
      N° TVA:
      {{ partenaire.tvaNum }}
    </p>
  </article>
{% endblock %}
