{% extends 'base.html.twig' %}

{% block title %}Nos partenaires
{% endblock %}

{% block titreh1 %}
	<h1>Prestataires</h1>
{% endblock %}

{# {% block searchForm %}
	{# {{ render(path('searchForm')) }} #}
	{# {% embed "_searchFormToggle.html.twig" %}{% endembed %} #}
{# {% endblock %} #}

{% block body %}
<div class="count">
    {{ pagination.getTotalItemCount }} prestataire(s) trouvé(s)
</div>
	{% if partenaires %}
		<div class="partenaires-list-wrap">
			{% for partenaire in pagination %} 
				<a class="partenaires-card" href="{{path('detailPartenaire',{id : partenaire.id})}}">
				{% if partenaire.nom is defined %}
					<h3>{{partenaire.nom}}</h3>
				{% endif %}
					{% if partenaire.images[0] is defined %}
						<img class="prestaire_img" src="{{ asset('images/avatars/' ~ partenaire.images[0]) }}" alt="avatar du prestataire"/>
					{% endif %}

				</a>
			{% endfor %}
		</div>
		{% else %}
			<div class="aucun-resultat-prestataire">
				<p>Désolé, il n'y a aucun prestataire correspondant à votre recherche</p>
			</div>
	{% endif %}
	{# display navigation #}
	<div class='l-main-pagination'>
		<div class="navigation">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>
{% endblock %}

