{% extends 'base.html.twig' %}

{% block title %}Nos partenaires
{% endblock %}

{% block titreh1 %}
	<h1>Prestataires</h1>
{% endblock %}

{% block searchForm %}
	{% embed "_searchFormToggle.html.twig" %}{% endembed %}
{% endblock %}

{% block body %}
<div class="countPrestataireFound">
    {{ pagination.getTotalItemCount }} prestataire(s) trouvé(s)
</div>
	{% if app.user and app.user.roles[0] == 'ROLE_USER' %}
		<div class="register-as-prestataire-link">
			<a href="{{path ("prestataire_register", {id: app.user.id})}}">M'inscrire en tant que prestataire</a>
		</div>
	{% endif %}
	{% if partenaires %}
		<div class="partenaires-list-wrap">
			{% for partenaire in pagination %} 
				<a class="partenaires-card" href="{{path('detailPartenaire',{id : partenaire.id})}}">
					{% if partenaire.images[0] is defined and partenaire.images[0] != '' %}
						<img class="prestataire_img" src="{{ asset('images/uploads/' ~ partenaire.images[0]) }}" alt="photo de profil du prestataire"/>
					{% else %}
						<img class="prestataire_img" src="{{ asset('images/avatars/blank_profile.webp') }}" alt="photo de profil du prestataire"/>
					{% endif %}
					{% if partenaire.nom is defined %}
						<div>
							<h3>{{partenaire.nom}}</h3>
						</div class="partenaires-card-name">
					{% endif %}
				</a>
			{% endfor %}
		</div>
		{% else %}
			<div class="aucun-resultat-prestataire">
				<p>Désolé, il n'y a aucun prestataire correspondant à votre recherche</p>
			</div>
	{% endif %}

	{# display navigation #}
	<div class='l-main-pagination'>
		<div class="navigation">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>
{% endblock %}

