{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block titreh1 %}
	<h1>Mon profil</h1>
{% endblock %}

{% block searchForm %}
	{% embed "_searchFormToggle.html.twig" %}{% endembed %}
{% endblock %}


{% block body %}

    {% if app.user.roles[0] == 'ROLE_USER' %}
    <div class="user-profile-link-prest">
        <a href="{{path ("prestataire_register", {id: app.user.id})}}">M'inscrire en tant que prestataire</a>
    </div>
    {% endif %}

    <div class="user-profile-img">
        {% if app.user.internautes.image != '' %}
            <a href="{{path ("addImageUser", {id: app.user.internautes.id})}}">
            <img class="prestaire_img" src="{{ asset('images/uploads/' ~ app.user.internautes.image) }}" alt="photo de profil du prestataire"/>
            </a>
        {% else %}
            <a href="{{path ("addImageUser", {id: app.user.internautes.id})}}">
            <img class="prestaire_img" src="{{ asset('images/avatars/blank_profile.webp') }}" alt="photo de profil du prestataire"/>
            </a>
            <p>Membre depuis le {{app.user.dateInscription|date('d/m/Y')}}</p>
        {% endif %}
    </div>

    <div class="user-profile-infos-wrap">
        <div class="user-profile-name-email">
            {% if app.user.internautes.prenom is defined and app.user.internautes.nom is defined %}
            <h1>{{app.user.internautes.prenom}} {{app.user.internautes.nom}}</h1>
            {% endif %}
            <p>{{app.user.email}}</p>
                    {% if app.user.internautes.id is defined %}
        {# modif des infos Internaute #}
        <a href="{{path('edit_infos', {id: app.user.internautes.id} )}}">Gérer mes informations de profil</a>
        {% endif %}
        </div>
        <ul>
            <li>
                {% if app.user.adresseRue != null %}
                    {{app.user.adresseRue}}
                {% endif %}
                {% if app.user.adresseNum != null %}
                    {{app.user.adresseNum}}
                {% endif %}
            </li>
            <li>
                {% if app.user.commune != null %}
                    {{app.user.commune}}
                {% endif %}
                {% if app.user.codePostal %}
                    {{app.user.codePostal}}
                {% endif %}
            </li>
            <li>
                {% if app.user.localite != null%}
                    {{app.user.localite}}
                {% endif %}
            </li>
        </ul>
        {% if app.user.id is defined %}
            {# modif des infos Utilisateur #}
            <a href="{{path('edit_adress', {id: app.user.id} )}}">Modifier mon adresse</a>
        {% endif %}
    </div>

{% endblock %}