{% extends 'base.html.twig' %}

{% block title %}
  Modifier photo de profil
{% endblock %}

{% block titreh1 %}
  <h1>
    Photo de profil
  </h1>
{% endblock %}

{% block searchForm %}
  {% embed '_searchFormToggle.html.twig' %}

  {% endembed %}
{% endblock %}

{% block body %}
  <a class="back-to-prestataire-detail"
    href="{{
    path(
      'profil_prest',
      {
        id: app.user.prestataire.id
      }
    )
    }}">
    retour sur ma page de profil
  </a>

  {{ form_start(form) }}
  <div class="form-register">
    {{form_row(form.imageFile,{attr: {class: ''},label: 'Numéro'})}}
    {{ form_widget(form.enregistrer,{'attr': {'class': 'register-form-submit'}}) }}
  </div>

  {{ form_end(form) }}
{% endblock %}
