{% extends 'base.html.twig' %}

{% block title %}
  Images prestataire
{% endblock %}

{% block titreh1 %}
  <h1>
    Gestion de vos images
  </h1>
{% endblock %}

{% block searchForm %}
  {% embed '_searchFormToggle.html.twig' %}

  {% endembed %}
{% endblock %}

{% block body %}
  <a class="back-to-prestataire-detail"
    href="{{
    path(
      'profil_prest',
      {
        id: app.user.prestataire.id
      }
    )
    }}">
    retour sur ma page de profil
  </a>

  <h3 class="prestataire-gallery-manage-title">
    Ajouter une nouvelle photo à votre gallerie
  </h3>

  {{ form_start(form) }}
  <div class="form-register">
    <div class="form-file-input">
      {{ form_label(form.imageFile) }}
      {{ form_widget(form.imageFile) }}
    </div>
    <div class="submit-form-button">
      {{ form_label(form.enregistrer) }}
      {{ form_widget(form.enregistrer) }}
    </div>
  </div>
  {{ form_end(form) }}

  <div class="prestataire-gallery-manage-photos-wrap">
    {% for img in prestataire.imagesPhoto %}
      <div class="prestataire-gallery-manage-photos">
        <img style="width:8rem;"
          class=""
          src="{{ asset('images/uploads/' ~ img) }}"
          alt="photo carrousel" />
        <div>
          {# On passe l'id du prestataire et celui de l'image en parametre #}
          <a href="{{
            path(
              'supprImagePrest',
              {
                id: prestataire.id,
                id_img: img.id
              }
            )
            }}">
            Supprimer photo
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
