{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block titreh1 %}
	<h1>Mon profil</h1>
{% endblock %}

{% block searchForm %}
	{% embed "_searchFormToggle.html.twig" %}{% endembed %}
{% endblock %}


{% block body %}
  <article>
      <div class="partenaire-avatar">
      {% if partenaire.images[0] is defined %}
            <a href=""><img class="prestaire_img" src="{{ asset('images/avatars/' ~ partenaire.images[0]) }}" alt="photo de profil du prestataire"/></a>
      {% else %}
            <a href=""><img class="prestaire_img" src="{{ asset('images/avatars/blank_profile.webp') }}" alt="photo de profil du prestataire"/></a>
      {% endif %}
      {% if partenaire.nom %}
        <h3>{{partenaire.nom }}</h3>
      {% endif %}
    </div>
    {% if partenaire.promotion is defined %}
      {% for pr in partenaire.promotion %}
        {%  if pr.affichageDe|date("d/m/Y") <= "now"|date("d/m/Y") and pr.affichageJusque|date("d/m/Y") >= "now"|date("d/m/Y") %}
        <div>
          <p><span>Promotion!</span> Dans la catégorie "{{pr.categorieService}}", du: {{pr.debut|date("d/m/Y") }} au: {{pr.fin|date("d/m/Y")}}</p>
          <p>{{ pr.nom }}</p>
          {{ pr.description }}
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}
   
    <a href="{{path('profil_prest_promo',{id : partenaire.id})}}">Ajouter une promotion</a>
    {% if partenaire.proposer is defined %}
      <h3>Mes catégories de service</h3>
      <div class="prestataire-detail-services-list">
        <ul>
          {% for service in partenaire.proposer %}
            <li><a href="{{path('detailService',{id : service.id} )}}">{{ service.nom}}</a>
          {% endfor %}
        </ul>
      </div>
    {% else %}
      <div class="prestataire-detail-services-list">
        <h3>Je n'ai pas encore de catégorie de service</h3>
      </div>
    {% endif %}
	<a href="">Ajouter une catégorie de service</a>
    {% if partenaire.stage is defined %}
    <h3>Les stages que je propose actuellement</h3>
    <ul>
        {% for st in partenaire.stage %}
          {# test si le stage est dans sa periode d'affichage. Si oui -> Affichage #}
          {%  if st.affichageDe|date("d/m/Y") <= "now"|date("d/m/Y") and "now"|date("d/m/Y") <= st.affichageJusque|date("d/m/Y") %}
            <li>
              <a href="{{path('detailStage',{id : st.id} )}}">{{st.nom}}</a>
            </li>
          {% endif %}
        {% endfor %}
    </ul>
    {% else %}
      <h3>Je ne propose pas encore de stage</h3>
    {% endif %}
	<a href="">Ajouter un stage</a>
	{{form(form) }}
  <div>
    {% if partenaire.promotion %}
      {% for pr in partenaire.promotion %}
        <div>
          <p><span>Promotion!</span> Dans la catégorie "{{pr.categorieService}}", du: {{pr.debut|date("d/m/Y") }} au: {{pr.fin|date("d/m/Y")}}</p>
          <p>{{ pr.nom }}</p>
          {{ pr.description }}
        </div>
      {% endfor %}
    {% endif %}
        <a href="{{path('profil_prest_promo',{id: partenaire.id})}}">Ajouter une promotion</a>
  </div>

    <div class="prestataire-detail-contact">
      <p>
        Mon site web:
        {% if partenaire.siteWeb is defined %}
           <a href="#">{{ partenaire.siteWeb }}</a>
        {% endif %}
      </p>
      <p>
        Tél:
        {{ partenaire.tel }}
      </p>
      <p>
        N° TVA:
        {{ partenaire.tvaNum }}
      </p>
    </div>
    {# Carrousel photos prestataire #}
    <div class="gallery">
        {% for img in partenaire.images %}
        {# test pour ne pas afficher la photo de profil ici #}
          {% if img != partenaire.images[0] %}
            <img class="prestaire_img" src="{{ asset('images/avatars/' ~ img) }}" alt="photo du prestataire"/>
          {% endif %}
        {% endfor %}
        <img src="https://images.pexels.com/photos/13921689/pexels-photo-13921689.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        <img src="https://images.pexels.com/photos/14577737/pexels-photo-14577737.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        <img src="https://images.pexels.com/photos/14686959/pexels-photo-14686959.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
        <img src="https://images.pexels.com/photos/12620000/pexels-photo-12620000.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" />
    </div>
    </div>
    <a href="">Ajouter/modifier mon adresse</a>
    {% if partenaire.utilisateur.adresseRue is defined and  partenaire.utilisateur.adresseNum is defined and partenaire.utilisateur.codePostal is defined and partenaire.utilisateur.commune is defined%}
          <p>Pour me trouver: </p>
          <p>{{ partenaire.utilisateur.adresseRue }} {{ partenaire.utilisateur.adresseNum }}</p>
          <p>{{ partenaire.utilisateur.codePostal }} {{ partenaire.utilisateur.commune }}</p>
          <div id="map"></div>
    {% else %}
          <p>Oops, je n'ai pas encore renseigné mon adresse</p>
    {% endif %}
    <div>
      <p>Commentaires</p>
      {% if is_granted('ROLE_USER') and not is_granted('ROLE_PREST') %}
      <div>
        <p>Ajouter un commentaire</p>
        {{form(form) }}
      </div>
      {% endif %}

      {% for com in partenaire.commentaires %}
        <div>
          <p>{{com.titre}}</p>
          <p>{{com.contenu}}</p>
          <p>Le {{com.dateEncodage| date('d/m/Y')}} par: {{com.internaute }}</p>
        </div>
      {% endfor %}
    </div>
  </article>
{% endblock %}