{% extends 'base.html.twig' %}

{% block title %}
  Modifier informations
{% endblock %}

{% block titreh1 %}
  <h1>
    Modifier mes informations
  </h1>
{% endblock %}

{% block searchForm %}
  {% embed '_searchFormToggle.html.twig' %}

  {% endembed %}
{% endblock %}

{% block body %}
  <a class="back-to-prestataire-detail"
    href="{{
    path(
      'profil_prest',
      {
        id: app.user.prestataire.id
      }
    )
    }}">
    retour sur ma page de profil
  </a>

  {{ form_start(form) }}

  <div class="form-register">
    <div class="form-register-input">
      {{ form_label(form.nom) }}
      {{ form_widget(form.nom) }}
    </div>
    <div class="form-register-input">
      {{ form_label(form.siteWeb) }}
      {{ form_widget(form.siteWeb) }}
    </div>
    <div class="form-register-input">
      {{ form_label(form.tel) }}
      {{ form_widget(form.tel) }}
    </div>
    <div class="form-register-input">
      {{ form_label(form.tvaNum) }}
      {{ form_widget(form.tvaNum) }}
    </div>
    <div class="form-register-input-multiple-select">
      {{ form_label(form.proposer) }}
      {{ form_widget(form.proposer) }}
    </div>
    {{ form_widget(form.soumettre,{'attr': {'class': 'register-form-submit'}}) }}

  </div>
  {{ form_end(form) }}
{% endblock %}
