<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>

		{% block stylesheets %}
			<link rel="stylesheet" href="{{asset ('css/screen.css')}}">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
			{# Style pour leaflet maps #}
			 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="crossorigin=""/>
		{% endblock %}

	</head>
	<body>
		<div class="l-background-image-wrap">
			<header>
				{% block nav %}
					<div class="l-main-header-wrap">
						<div class="hamburger-icon" id="icon">
							<div class="icon-1" id="a"></div>
							<div class="icon-2" id="b"></div>
							<div class="icon-3" id="c"></div>
							<div class="clear"></div>
						</div>
						<div class="wrap-menu">
							<nav class="l-main-nav" id="nav">
								<ul>
									<li><a id="home" href="{{path('home')}}"><i class="fa-solid fa-house"></i>&nbsp;Accueil</a></li>
									<li><a id="partenaires" href="{{path ("listePartenaires")}}"><i class="fa-solid fa-handshake-simple"></i>&nbsp;Prestataires</a></li>
									<li><a id="services" href="{{path ("listeServices")}}"><i class="fa-solid fa-bell-concierge"></i>&nbsp;Services</a></li>
									<li><a id="services" href="{{path ("listeStages")}}"><i class="fa-solid fa-person-chalkboard"></i>&nbsp;Stages</a></li>
									
									{# accés au lien seulement si le user est authentifié #}
									{% if app.user %}
										<li><a href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;Déconnection</a></li>
									{% else %}
										<li><a href="{{path ("security_login")}}"><i class="fa-solid fa-right-to-bracket"></i>&nbsp;Connection</a></li>
									{% endif %}

									{# accés au lien seulement si le user est authentifié #}
									{% if not app.user %}
										<li><a href="{{path ("inscription")}}"><i class="fa-solid fa-user-plus"></i>&nbsp;Inscription</a></li>
									{% endif %}

									{# accés au lien seulement si le user est authentifié #}
									{% if app.user and is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') and not is_granted('ROLE_PREST') %}
										{# affichage avatar si le user a une photo de profil (sinon icone) #}
										{% if app.user.internautes.image is defined and app.user.roles[0] == 'ROLE_USER' %}
											{% if app.user.internautes.image != '' %}
												<li><a href="{{path ("profil_user", {id: app.user.internautes.id})}}"><img class="profile-avatar" src="{{ asset('images/uploads/' ~ app.user.internautes.image) }}" alt="logo utilisateur"></a></li>
											{% else %}
												<li><a href="{{path ("profil_user", {id: app.user.internautes.id})}}"><img class="profile-avatar" src="{{ asset('images/avatars/blank_profile.webp') }}" alt="logo utilisateur"></a></li>
											{% endif %}
										{% endif %}
									{% endif %}
									{% if is_granted('ROLE_PREST') %}
										<a href="{{path ("profil_prest", {id: app.user.prestataire.id})}}"><i class="fa-solid fa-user"></i>&nbsp;Ma page</a>
									{% endif %}
									{% if is_granted('ROLE_ADMIN') %}
    									<li ><a href="{{path ("admin")}}"><i class="fa-solid fa-screwdriver-wrench"></i>&nbsp;Admin</a></li>
									{% endif %}
								</ul>
							</nav>
							<div class="dark-pink" id="pink"></div>
				
							{% endblock %}

							{% block searchForm %}{% endblock %}

						</div>
					</div>

						<div class='l-main-logo'>
							<a href="{{path ('home')}}"><img src="{{asset ('images/logo.png')}}" alt="image-logo"></a>
						</div>

						<div class="ease-in-title">
							<h1>{% block titreh1 %}{% endblock %}</h1>
						</div>
		</div>
			</header>
		<div class="l-main-wrap"> 
	
		{% for message in app.flashes('success') %}
			<div class="flash-message">
				{{message}}
			</div>
		{% endfor %}

		{% block body %}{% endblock %}
	</body>

		</div>

		{% block footer %}
		<span class="back-home"><a href="{{path ('home')}}">Retour accueil</a></span>
			<footer class="l-footer">
				<div class="l-footer-links">
					<a href="{{path ("aPropos")}}">à propos</a>
					<a href="{{path ("contact")}}">contact</a>
				</div>
				<div class="footer-social">
					<a href="https://www.facebook.com/">
						<i class="fa-brands fa-facebook"></i>
					</a>
					<a href="https://instagram.com/">
						<i class="fa-brands fa-square-instagram"></i>
					</a>
					<a href="https://twitter.com/">
						<i class="fa-brands fa-twitter"></i>
					</a>
					<a href="https://www.youtube.com/">
						<i class="fa-brands fa-youtube"></i>
					</a>
				<div class="footer-copyright">
					<p>2023 A.L. all rights reserved</p>
				</div>
			</footer>
		{% endblock %}
		{% block javascript %}
			{# Toujours mettre ce script aprés le CSS de Leaflet #}
 			<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="crossorigin=""></script>
			{# Attention à bien appeler le script 'js/map.js' aprés l'inclusion du script de Leaflet #}
			<script src="{{asset ('js/map.js')}}"></script>
			<script src="{{asset ('js/main.js')}}"></script>
		{% endblock %}
	</body>
</html>
