<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>

		{% block stylesheets %}
			<link rel="stylesheet" href="{{asset ('css/screen.css')}}">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		{% endblock %}

	</head>
	<div class="l-background-image-wrap">
		<header>
			{% block nav %}
				<div class="l-main-header-wrap">
					<div class="hamburger-icon" id="icon">
						<div class="icon-1" id="a"></div>
						<div class="icon-2" id="b"></div>
						<div class="icon-3" id="c"></div>
						<div class="clear"></div>
					</div>
					<div class="wrap-menu">
						<nav class="l-main-nav" id="nav">
							<ul>
								<li><a id="home"href="{{path('home')}}"><i class="fa-solid fa-house"></i>&nbsp Accueil</a></li>
								<li><a id="partenaires"href="{{path ("listePartenaires")}}">partenaires</a></li>
								<li><a href="#">services</a></li>
								<li><a href="#">stages</a></li>
								<li><a href="#">à propos</a></li>
								<li><a href="#">contact</a></li>
								<li><a href="#"><i class="fa-solid fa-user"></i>&nbsp Mon compte</a></li>
							</ul>
						</nav>
						<div class="dark-pink" id="pink"></div>
						<div class="main-search-bar-wrap">
							<div class="main-search-bar">
								<input type="text" class="main-search-input" placeholder="Service, prestataire, lieu..">
								<button type="submit" class="main-search-button">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</div>
					<div class='l-main-logo'>
						<a href="{{path ('home')}}"><img src="{{asset ('images/logo.png')}}" alt="image-logo"></a>
					</div>
				</div>
			{% endblock %}

			<div class="ease-in-title"> {% block titreh1 %}{% endblock %}

				</div>
			</header>
		</div>
		<body></body>
	</html>
</div>
<div class="l-main-wrap"> {% block body %}{% endblock %}
	</div>
	{% block footer %}
		<footer class="l-footer">
			<div class="footer-social">
				<a href="#">
					<i class="fa-brands fa-facebook"></i>
				</a>
				<a href="#">
					<i class="fa-brands fa-instagram"></i>
				</a>
				<a href="#">
					<i class="fa-brands fa-twitter"></i>
				</a>
				<a href="#">
					<i class="fa-brands fa-youtube"></i>
				</a>
				<div class="footer-copyright">
					<p>2023 A.L. all rights reserved</p>
				</div>
			</footer>
		{% endblock %}
		{% block javascripts %}
			<script src="{{asset ('js/main.js')}}"></script>
		{% endblock %}
	</body>
</html>
