{% extends 'base.html.twig' %}

{% block title %}
Service {{stage.nom}}
{% endblock %}

{% block titreh1 %}
	<h1>Details du stage</h1>
{% endblock %}

{% block searchForm %}
	{% embed "_searchFormToggle.html.twig" %}{% endembed %}
{% endblock %}

{% block body %}
	<article>
		<div class="">	
			<h2>{{stage.nom}}. Annimé par {{stage.prestataire.nom }}</h2>
			<h4>Description du stage:</h4>
			<p>{{stage.description}}</p>
			<p>Informations complémentaires: {{stage.infoComplementaire}}</p>
			<p>Tarif: {{stage.tarif}}</p>
		</div>
	</article>
{% endblock %}
